@model ProjectSmartphoneShop.Models.WinkelMand

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WinkelMand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmartphoneId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmartphoneId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotaalPrijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotaalPrijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestelDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestelDatum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WinkelMandId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
