@model IEnumerable<ProjectSmartphoneShop.Models.WinkelMand>

@{
    ViewData["Title"] = "Index";
}

<h1>Winkelmandje</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestelDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotaalPrijs)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestelDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotaalPrijs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WinkelMandId.">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WinkelMandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WinkelMandId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
